{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<div>
	<div id="game-container" style="text-align: center"></div>

	<div style="width:55%; margin: 0 auto; margin-top:4.5em">
		{% if mode == 'simulate' %}
		<div class="panel panel-default" id="simulation-status-panel" style="border-color:#D6D6D6; box-shadow:none; margin-bottom:2em">
			<div class="panel-heading" style="background:#F7F7F7">
				<strong>Simulation Run Status</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">State</div>
						<div><span id="simulation-status-state" class="label label-default" style="font-size:0.95em">idle</span></div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Progress</div>
						<div id="simulation-status-progress" style="font-size:1.1em">0 / 0</div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">World Step</div>
						<div id="simulation-status-world-step" style="font-size:1.1em">-</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Current Persona</div>
						<div id="simulation-status-persona" style="font-size:1.1em">-</div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Current Stage</div>
						<div id="simulation-status-stage" style="font-size:1.1em">idle</div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Stop Requested</div>
						<div id="simulation-status-stop-requested" style="font-size:1.1em">False</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Current Prompt</div>
						<div id="simulation-status-prompt-type" style="font-size:1.1em">-</div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Stage Elapsed</div>
						<div id="simulation-status-stage-elapsed" style="font-size:1.1em">0s</div>
					</div>
					<div class="col-md-4" style="margin-bottom:0.8em"></div>
				</div>
				<div class="row">
					<div class="col-md-6" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Simulation</div>
						<div id="simulation-status-sim" style="font-size:1.1em">-</div>
					</div>
					<div class="col-md-6" style="margin-bottom:0.8em">
						<div style="font-size:0.95em; color:#666666">Last Updated</div>
						<div id="simulation-status-updated" style="font-size:1.1em">-</div>
					</div>
				</div>
				<div id="simulation-status-note" class="text-muted" style="font-size:0.95em">Waiting for backend status...</div>
				<div id="simulation-status-error-wrapper" class="alert alert-danger" style="display:none; margin-top:1em; margin-bottom:0">
					<strong>Last Error:</strong>
					<div id="simulation-status-error" style="margin-top:0.4em; white-space:pre-wrap"></div>
				</div>
			</div>
		</div>
		{% endif %}

		<h3 style="margin-bottom:-0.5em; font-size:1.5em">Current Time:</h3>
		<div class="row">
			<div class="col-md-8" id="game-time" style="">
				<h2><span id="game-time-content"></span></h2> 
			</div>
			<div class="col-md-4">
				
				<h2 style="text-align: right; {% if mode == 'simulate' %} display: none {% endif %}">
					<button id="play_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-play"></i> &nbsp;Play</strong>
				  </button>
				  
				  <button id="pause_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-pause"></i> &nbsp;Pause</strong>
				  </button>

				</h2>
				
			</div>
		</div>

		<br>
		<hr style="border-color:#999999">
		<br>

		{% for p_name, p_name_os in persona_names %}
			<div class="media" style="background-color:#EEEEEE; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="{% static 'img/atlas.png' %}" style="width:5em">
			    </a>
			  </div>
			  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
			  	<div class="row">
			    	<h2 class="col-md-8" id="name__{{ p_name_os }}" style="margin-bottom:0.8em; font-size:1.85em; ">
			    		{{p_name}} &nbsp;&nbsp;
			    		<a href="{% url 'replay_persona_state' sim_code step p_name_os %}" style="font-size:0.6em">State Details</a>
			    	</h2>
			    </div>
			    <div style="">
					  <p style="font-size:1.2em"><strong>Current Action:</strong> <br><span id="current_action__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Location:</strong> <br><span id="target_address__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Current Conversation:</strong> <br><span id="chat__{{ p_name_os }}"></span></p>
					</div>
			  </div>
			</div>	
			<br>
		{% endfor %}




		

	</div>
</div>

  



<div style="padding-bottom:15em"> </div>


<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js'></script>
{% include 'home/main_script.html' %}
{% endblock content %}
